@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');

.containerNav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    align-items: flex-end;
    flex-wrap: wrap;
    border-radius: 0px 0px 30px 30px;
    margin-inline-start: 10vw;
    font-size: small;

}

.containerNavLogin {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 2vw;  
    align-items: flex-end;
    flex-wrap: wrap;
    border-radius: 0px 0px 30px 30px;
    margin-inline-start: 50vw;
    font-size: small;


}

.containerBlog {
    display: flex;
    justify-content: space-between;
    color: black;
    border-radius: 0px 0px 30px 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 180px;
    text-align: center;
    font-size: 15px;
}

.containerBlogLogin {
    display: flex;
    justify-content: space-between;
    color: black;
    border-radius: 0px 0px 30px 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    width: 180px;
    text-align: center;
    font-size: 15px;
}

.containerNav h2 {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;



}

.containerNavLogin h2 {
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.Box a {
    color: white;
    text-decoration: none;
    border-radius: 0px 0px 30px 30px;
    transition: background .6s;
    transition-property: inherit;
    padding: 1vw;



}


.Box h2 {

    align-items: flex-start;

}



.Box a:hover {
    background-color: #cda7f076;
    border-radius: 20px;


}

.header {

    background-color: #f1f1ed;
    



}
.headerLogin {

    background-color: #f1f1ed;
    -webkit-box-shadow: 3px 3px 20.5px 3px #ddd;
    -moz-box-shadow: 3px 3px 20.5px 3px #ddd;
    box-shadow: 3px 3px 20.5px 3px #ddd;



}

@keyframes anim1{
    from{
       color: rgb(205, 200, 200);      
    }
    to{
        color: rgb(0, 0, 0);
    }
}

 .tela{
    
    
    animation-name: anim1;
    animation-duration: 3s;

}