@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.containerLogin {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    max-width: 100vw;
    padding-top: 10vw;
    padding-bottom: 10vw;






}

.containerLogin h2 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;

    color: rgb(0, 0, 0);




}

.cardLogin {

    display: flex;
    justify-content: center;

    align-items: flex-start;
    width: 100%;
    color: aliceblue;







}


.senha {
    
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(0, 0, 0);


}


.paddingX {
    display: flex;
    padding: 20px;
    justify-content: center;

}

.form {

    margin: 75px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px 30px 30px 30px;
    color: antiquewhite;
    -webkit-box-shadow: 3px 3px 20.5px 3px #ddd;
    -moz-box-shadow: 3px 3px 20.5px 3px #ddd;
    box-shadow: 3px 3px 20.5px 3px #ddd;
    






}
.box{
    
}
.form:hover{
    
    
}

.form:hover{
    
    
    -webkit-box-shadow: 3px 3px 20.5px 3px  #cda7f0;
    -moz-box-shadow: 3px 3px 20.5px 3px  #cda7f0;
    box-shadow: 3px 3px 20.5px 3px #cda7f0;
}

.div {
    background-color: rgb(252, 255, 255);
    font-style: italic;
    padding: 30px;
    
    


}

.div2 {
    margin-bottom: 20px;
}

.imagem {
    background-color: aquamarine;
    display: flex;
    justify-content: flex-end;
    width: 100vw;




}

.cadastro{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: smaller;
    margin: 10px;
    
    
    
    
}

.cadastro h1{
    color: black;
    font-size: medium;
    font-style: oblique;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.cadastro h2{
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
    

   
}

.secao-principal-imagem{
    

}

.principal-imagem-item{
   

    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateY(-25px);
    }
    100%{
        transform: translateY(0);
    }
}

    
